* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 16px;
}

body {
    background-color: #000;
    text-align: center;

}

/*TEXT STYLES*/

h1 {
    font-size: 3.75rem; /*this is 60px */
    font-weight: normal;
    font-family: Verdana;
    text-align: center;
    padding: 1.25rem 2.5rem;  /*this is 20px up and down & 40px left and right */
}

h2 {
    font-size: 2.25rem; /*this is 40px*/
    font-weight: 300;
    font-family: Verdana;
    text-align: center;
    padding: 1.25rem 2.5rem; /*this is 20px up and down & 40px left and right*/

}


p {
    /* font-size: 1.3125rem; */
    font-family: Verdana;
    text-align: center;
    color: gray;
    padding: 1.25rem 2.5rem;  /*this is 20px up and down & 40px left and right */
}




a {
    text-decoration: none;
    color: aquamarine;
    /* padding: 1.25rem 2.5rem;   */
    /*this is 20px up and down & 40px left and right*/

}


/*Hover styles*/

a:hover,
.logo:hover,
.nav:hover {
    color: rgb(176, 66, 209);
}




/*NAV-STYLES*/

.main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
    position: fixed;
    top: 0;
    z-index: 1000;
    border-bottom: .5px solid gray;
    background-color: black;
    
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5625rem 1.25rem; /*this is 25px up and down & 20px left and right */

}

.logo {
    font-size: 1.5rem; /*20px*/
    font-weight: bold;
    padding: 0 1.5rem; /*this is 0px up and down & 24px left and right */

}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5625rem 1.25rem; /*this is 25px up and down & 20px left and right */
    gap: 1.25rem; /*this is 20px*/  
}

.nav {
    font-size: 1.125rem; /*this is 18px*/
    font-weight: 500;
    padding: 0.625rem 1.25rem; /*this is 10px up and down & 20px left and right */
}


.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%vh;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

.main-content-con {
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 160px;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.25rem; 
}


.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

